<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" metal:define-macro="page">
  <head>
    <title metal:define-slot="title" />
    <link tal:attributes="href css" rel="stylesheet" type="text/css" />
  </head>
  <body>

<div id="header">
<h1>Your Site</h1>
</div>

<div id="navigation">
<div class="rspace">&nbsp;</div>
</div>

 
    <div id="main" metal:define-slot="content">



    </div>


    <div id="footer"></div>
  </body>
</html>
